* {
	box-sizing: border-box;
	/* La proprietà box-sizing: border-box ci permette di includere nel conteggio totale dell'altezza e largezza dell'elemento il padding e il border.*/
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: trenchFont;
	src: url(../fonts/trench100free.ttf);
}

@font-face {
	font-family: roboto;
	src: url(../fonts/RobotoTTF/RobotoCondensed-Light.ttf);
}

/* Nav bar */

header {
	/* width: 100%; */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	background-color: rgb(247, 234, 220);
}

.row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center
}

.column {
	display: flex;
	flex-direction: column;
}

textarea[name=description] {
	resize: none;
	overflow: none;
	width: 100% !important;
}

.form-input {
	border: 1px solid rgb(216, 216, 216);
	box-shadow: none;
	font-size: 17px;
	font-weight: 500;
	border-radius: 2px;
	padding: 10px;
	margin: 3px;
	width: 380px;
}

.form-input:focus {
	border-color: rgb(128, 189, 255);
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.flex {
	display: flex;
	width: 100%;
}

.main-nav {
	max-width: 1240px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	z-index: 2;
}

.logo-search {
	display: flex;
	align-items: center;
}

.logo a {
	margin: 0;
	color: rgb(198, 61, 15);
	letter-spacing: 5px;
	font-size: 50px;
	font-family: trenchFont;
}

.search-form input {
	border: 1.3px solid rgb(204, 204, 204);
	background-color: inherit;
	width: 30px;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 16px;
	background-image: url(../img/icon/search.svg);
	background-position: 1px -2px;
	background-repeat: no-repeat;
	padding: 5px 20px 5px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.search-form input[type=text]:focus {
	width: 200px;
}

.main-nav-list {
	display: flex;
	height: 100%;
	/* align-items: center; */
}

.main-nav-list>li {
	padding: 0 5px;
	display: flex;
	align-items: center;
	height: 100%;
	/* border-right: 2px solid rgba(235, 98, 98, 0.04); */
}

.user-dropdown:hover {
	background-color: inherit !important;
}

.main-nav-list>li:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

.main-nav-list li a {
	font-family: trenchFont;
	font-size: 1.2em;
	text-decoration: none;
	color: rgb(198, 61, 15);
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
}

.main-nav-list a:hover {
	opacity: 0.8;
}

.main-nav-list> :last-child {
	padding-right: 0;
}

/*NavIconProfile*/

.user-dropdown {
	padding-right: 10px;
	display: inline-block !important;
}

.user-avatar-menu {
	cursor: pointer;
	padding-left: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.user-avatar {
	border-radius: 50%;
}

/*Drop profile menu*/

.drop-menu {
	position: absolute;
	background-color: rgb(255, 255, 238);
	min-width: 60px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	top: 50px;
	z-index: 10;
}

.drop-menu>li:first-child {
	border-bottom: 1px solid grey;
}

.drop-menu li {
	display: flex;
	justify-content: center;
	text-align: center;
}

.drop-menu>li:first-child {
	padding: 12px 13px;
}

.drop-menu a {
	padding: 12px 13px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.drop-menu a:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

/*Contenuto*/

.wrapper {
	width: 100%;
	flex: 1 0 auto;
	/*Necessario per lo sticky footer.*/
}

.content {
	/* background: rgba(255, 255, 255, 0.144); */
	border-radius: 3px;
	margin: 12px auto;
	/* padding: 12px 2px; */
	max-width: 1240px;
	display: flex;
	z-index: 1;
	/* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.082), 0 3px 6px rgba(0,0,0,0.13); */
}

.material {
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.082), 0 3px 6px rgba(0, 0, 0, 0.13);
	background: white;
}

/*Button*/

.btn {
	color: white;
	border: none;
	box-shadow: none;
	font-size: 17px;
	font-weight: 500;
	text-align: center;
	border-radius: 2px;
	padding: 10px;
	/* margin: 26px 5px 5px 5px; */
	cursor: pointer;
	background-color: rgba(128, 128, 128, 0.795);
	min-height: 40px;
}

.btn-wide {
	width: 100%;
}

.btn-search {
	background-color: rgba(240, 108, 64, 0.576) !important;
	height: 43px;
	width: 100px;
}

/*Footer*/

.main-footer {
	max-width: 1240px;
	flex-shrink: 0;
	/*Necessario per lo sticky footer.*/
}

.main-footer ul {
	display: flex;
	flex-direction: row;
}

.stripes :nth-child(1) {
	z-index: -1;
	position: absolute;
	top: -0;
	width: 100%;
	height: 600px;
	overflow: hidden;
	-webkit-transform: skewY(-10deg);
	transform: skewY(-10deg);
	-webkit-transform-origin: 0;
	transform-origin: 0;
	background: linear-gradient(150deg, rgb(247, 235, 221) 15%, rgb(229, 170, 145) 70%, rgb(204, 84, 42) 94%);
}