.content {
	flex-direction: column;
}

.creation-form {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.column {
	display: flex;
	flex-direction: column;
}

input[type=text]{
	max-width: 690px;
}

.content h1 {
	text-align: center;
	font-family: Roboto;
	font-size: 43px;
	color: rgb(198, 61, 15);
}

.creation-form * {
	margin: 3px;
}

.creation-form label {
	font-family: Roboto;
	font-size: 23px;
	color: rgb(116, 61, 25);
}

.upload-croppie {
	display: flex;
	flex-direction: column;
	height: 420px;
}

.upload-croppie label {
	text-align: center;
}

.column select {
	width: 250px;
	height: 40px;
	text-align: center;
}



.radio-choice label {
	color: black;
	font-weight: 500;
	font-size: 20px;
}

.wrapper-price-input {
	margin-left: 10px;
}

.wrapper-price-input input {
	text-align:right;
	width: 100px;
}

.wrapper-price-input>span {
	color: rgb(158, 158, 158);
	font-family: Roboto;
	font-size: 23px;
	font-weight: 600;
	margin: 0;
}