/*event_page*/
.event-container {
	flex-direction: column;


	background: #fff;
	border-radius: 3px;

	margin: 12px auto;
	max-width: 1240px;
	display: flex;

	z-index: 1;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.img-container {
	object-fit: scale-down;
	height: 300px;
	border-width: 1px;
}

