
.wrap-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../img/lighterparty.jpg) no-repeat; /*Credit to pexels.com*/
    background-size: cover;
}

.container {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.container h1 {
    color: #FDF3E7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: 500;
}

.container h2 {
    color: #FDF3E7;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;

}