/*Search page*/
.side-filter {
	display: flex;
	flex-direction: column;
	border: 2px solid blue;
}


/* .filter-nav {
	border: 3px solid blue;
	display: flex;
} */

/* .filter-nav form {
	width: 100%;
} */

.filter-form {
	border: 3px solid green;
	/* width: 100%; */
	margin: 0px;
	display: flex;
	flex-direction: column;
}



.filter-form-item {
	margin-bottom:5px;
	border-bottom: 1px solid #e5e5e5;
}

.filter-form *{
	margin-bottom:5px;
}





.cards {
	border: 3px solid;
	/* margin: 0 auto; */
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.event_card {
	border: 3px solid red;
	margin: 20px 10px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: content-box;
	display: flex;
	border-radius: 5px;
	max-height: 100px;
	/* justify-content: space-between; */
}

.event_card img {
	height: 100px;
	border-radius: 5px 0 0 5px;
}

.event_card-info {
	margin: 5px;
	width: 65%;
	display: flex;
	flex-direction: column;
}

.event_card-info h2 {
	color: #007489;
	font-family: trenchFont;
	font-size: 20px;
	font-weight: bold;
}

.event_card-info p {
	overflow: auto;
}

.event_card-date {
	margin: 5px 5px 5px 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}

.event_card-date-info {
	display: flex;
	margin-bottom: 3px;
}

.event_card-date h3 {
	color: #007489;
	font-family: trenchFont;
	font-size: 20px;
	font-weight: bold;
}

.event_card-button {
	text-align: center;
	font-size: 30px;
	background-color: #007489;
	color: white;
	padding: 3px 28px;
	border: none;
	border-radius: 3px;
	position: absolute;
	bottom: -13px;
	right: -13px;
}





.error_card {
	background-color: rgba(199, 6, 6, 0.432);
	margin: 30vh 1vw;
	border: 2px solid red;
	padding: 5vh 1vw;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: content-box;
	border-radius: 5px;

	width: 50%;
	display: flex;
	justify-content: center;	
}
