body{
    display: block;
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container{
    width: 960px;
    margin: 0 auto;
}

nav {
    display: inline-block;
    width: 100%;
    background-color: grey;
}

nav h1 {
    display: inline-block;
    text-align: left;
    color: rgba(39, 33, 199, 0.79);
    letter-spacing: 5px;
    font-size: 50px
}

nav ul {
    float: right;
    padding-left: 15px;
    font-family: Times, sans-serif;
    color: rgb(37, 112, 255);
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

form {
    text-align: center;
}

footer ul {
    
}