
































/*event_page*/
.event-container {
	border: 4px solid orange;
	margin: 0 auto;
	max-width: 1240px;
	display: flex;
	flex-direction: column;
}



.img-container {
	object-fit: scale-down;
	height: 300px;
	border-width: 1px;
}

