* {
	box-sizing: border-box;	/* La proprietà box-sizing: border-box ci permette di includere nel conteggio totale dell'altezza e largezza dell'elemento il padding e il border.*/
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
}

li {
	margin-right: 3px;
}

a {
	text-decoration: none;
}

button:hover {
    opacity: 0.8;
}

.wrapper {
	width: 100%;
	flex: 1 0 auto;	/*Necessario per lo sticky footer.*/
}

header {
	/* width: 100%; */
	background-color: rgb(247, 234, 220);
}

.main-nav {
	max-width: 1240px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

.logo a {
	margin: 0;
	color: #C63D0F;
	letter-spacing: 5px;
	font-size: 50px;
	font-family: trenchFont;
}

.main-nav-list {
	display: flex;
	height: 100%;
	/* align-items: center; */
}

.main-nav-list li {
	padding-left: 3px;	
	display: flex;
	align-items: center;
	height: 100%;
}

.main-nav-list li a {
	font-family: trenchFont;
	font-size: 1.2em;
	text-decoration: none;
	color: #C63D0F;
	cursor: pointer;
}

.main-nav-list a:hover {
	opacity: 0.8;
}

.main-nav-list> :last-child {
	margin-right: 0;
}








 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
	max-width: 1240px;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
} 



.animate-out {
	-webkit-animation: animatezoomout 0.6s;
    animation: animatezoomout 0.6s
}

@-webkit-keyframes animatezoomout {
    from {-webkit-transform: scale(1)}
    to {-webkit-transform: scale(0)}
}

@keyframes animatezoomout {
    from {transform: scale(1)}
    to {transform: scale(0)}
} 





 /* Bordered form */
.login-form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
}


/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 30%;
    border-radius: 50%;
}

/* Add padding to containers */
.login-container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
} 













.content {
	border: 4px solid orange;
	margin: 0 auto;
	max-width: 1240px;
	display: flex;
	/* flex-direction: column; */
}


.side-filter {
	display: flex;
	flex-direction: column;
	border: 2px solid blue;
}


/* .filter-nav {
	border: 3px solid blue;
	display: flex;
} */

/* .filter-nav form {
	width: 100%;
} */

.filter-form {
	border: 3px solid green;
	/* width: 100%; */
	margin: 0px;
	display: flex;
	flex-direction: column;
}



.filter-form-item {
	margin-bottom:5px;
	border-bottom: 1px solid #e5e5e5;
}

.filter-form *{
	margin-bottom:5px;
}





.cards {
	border: 3px solid;
	/* margin: 0 auto; */
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.event_card {
	border: 3px solid red;
	margin: 20px 10px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: content-box;
	display: flex;
	border-radius: 5px;
	max-height: 100px;
	/* justify-content: space-between; */
}

.event_card img {
	height: 100px;
	border-radius: 5px 0 0 5px;
}

.event_card-info {
	margin: 5px;
	width: 65%;
	display: flex;
	flex-direction: column;
}

.event_card-info h2 {
	color: #007489;
	font-family: trenchFont;
	font-size: 20px;
	font-weight: bold;
}

.event_card-info p {
	overflow: auto;
}

.event_card-date {
	margin: 5px 5px 5px 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}

.event_card-date-info {
	display: flex;
	margin-bottom: 3px;
}

.event_card-date h3 {
	color: #007489;
	font-family: trenchFont;
	font-size: 20px;
	font-weight: bold;
}

.event_card-button {
	text-align: center;
	font-size: 30px;
	background-color: #007489;
	color: white;
	padding: 3px 28px;
	border: none;
	border-radius: 3px;
	position: absolute;
	bottom: -13px;
	right: -13px;
}





.error_card {
	background-color: rgba(199, 6, 6, 0.432);
	margin: 30vh 1vw;
	border: 2px solid red;
	padding: 5vh 1vw;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: content-box;
	border-radius: 5px;

	width: 50%;
	display: flex;
	justify-content: center;	
}















.main-footer {
	max-width: 1240px;
	display: flex;
	flex-shrink: 0;	/*Necessario per lo sticky footer.*/
}

.main-footer ul {
	display: flex;
	flex-direction: row;
}

@font-face {
	font-family: trenchFont;
	src: url(./trench100free.ttf);
}



















/*event_page*/
.event-content {
	border: 4px solid orange;
	margin: 0 auto;
	max-width: 1240px;
	display: flex;
	flex-direction: column;
}



.img-container {
	object-fit: scale-down;
	height: 300px;
	border-width: 1px;
}

