body{
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 auto;
}

.container{
    width: 960px;
    margin: 0 auto;
}

nav {
    display: inline-block;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.69);
}

nav h1 {
    display: inline;
    text-align: left;
    color: rgba(39, 33, 199, 0.79);
    letter-spacing: 5px;
    font-size: 50px
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-right: 5px;
    vertical-align: middle;
    background-color: #333; 
    float:right;
    font-family: Times, sans-serif;
}

nav ul li {
    display: inline;
}

nav ul li a{
    display: inline-block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

nav ul li a.active {
    background-color: #4CAF50;
}

nav ul li a:hover:not(.active) {
    background-color: #111;
}

form {
    text-align: center;
}

footer ul {
    list-style-type: none;

}