body{
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    display: flex;
    background-color: rgba(54, 8, 170, 0.212);
}

.nav-container{
    width: 960px;
	margin: 0 auto;
	
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0 0 0 0;
    display: inline;
    color: #333;
    letter-spacing: 5px;
    font-size: 50px
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 5px 0 0;
    background-color: #333; 
    font-family: Times, sans-serif;
    display: flex;
}

nav ul li {
	display: flex;
    margin: 0 auto;
    padding: 10px;
}

nav ul li a{
	display: flex;
    color: white;
    text-decoration: none;
	justify-content: center;
	align-items: center;
}

nav ul li.active {
    background-color: #4CAF50;
}

nav ul li:hover:not(.active) {
    background-color: #111;
}

.container {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.container h2 {
    font-size: 100%;
}

form {
}

footer {
    margin: auto auto 0 auto;   /*Sticky footer*/ 
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer ul li {
    padding: 10px;
}
